<!--start-wrap--->
<div class="wrap">
  <!---start-header---->
  <div class="header">
    <div class="logo">
      <h1><a href="#">Ohh</a></h1>
    </div>
  </div>
  <!---End-header---->
  <!--start-content------>
  <div class="content">
    <img src="../../../assets/img/error-img.png" title="error" />
    <p>
      <span><label>O</label>hh.....</span>You Requested the page that is no
      longer There.
    </p>
    <a href="/auth">Go to Auth Page</a>
    <div class="copy-right">
      <p>
        &copy; 2013 Ohh. All Rights Reserved | Design by
        <a href="http://w3layouts.com/">W3Layouts</a>
      </p>
    </div>
  </div>
  <!--End-Cotent------>
</div>
<!--End-wrap--->
